<div class="antwoord">
  <input type="radio" name="{{ radioName }}" id="{{ radioId }}" class="kenmerkradio" {{# radioDisabled}} disabled{{/ radioDisabled}}>
  <label for="{{ radioId }}">{{ radioLabel }}</label>
</div>
