.inline-toggle {
  background-color: $color-lightgrey;
  background-image: url("#{$core-svg-path}toggle-inline-caret-down-black.svg");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 10px 6px;
  display: inline-block;
  height: 14px;
  width: 14px;

  &:hover {
    background-color: $color-red;
    background-image: url("#{$core-svg-path}toggle-inline-caret-down-white.svg");
  }

  &.ingeklapt {
    margin: 0 6px;
  }

  &.uitgeklapt {
    background-image: url("#{$core-svg-path}toggle-inline-caret-up-black.svg");

    &:hover {
      background-image: url("#{$core-svg-path}toggle-inline-caret-up-white.svg");
    }
  }
}

.inline-toggle-body {
  background-color: $color-lightgrey;
  display: block;
  margin: 12px 0;
  padding: 20px;

  &.verborgen {
    display: none;
  }
}
