<a href="#" class="inline-toggle {{ inlineToggleIconModifiers }}">{{ inlineToggleTitle }}</a>
{{# inlineToggleBodyText }}
  <span class="inline-toggle-body">
    {{ inlineToggleBodyText }}
  </span>
{{/ inlineToggleBodyText }}
