<form>
  {{# fieldsets }}
    <fieldset class="formulier-horizontaal {{ fieldsetStatus }}">
      {{> molecules-form-input }}
      {{> molecules-form-select }}
      {{# inputButtons }}
        {{> atoms-input-button }}
      {{/ inputButtons }}
      {{# fieldsetExplanation }}
        {{> atoms-input-explanation }}
      {{/ fieldsetExplanation }}
    </fieldset>
  {{/ fieldsets }}
</form>
