<div class="outer-wrapper sg-welcome">
  {{# gridWrappers }}
    <div class="grid-wrapper wrapper_{{ columns }} {{ wrapperAlias }}-wrapper">
      {{# gridContainers }}
        {{> baseline-grid-container }}
      {{/ gridContainers }}
    </div>
  {{/ gridWrappers }}
</div>
