<div class="grid-blok grid_{{ columns }} {{ blockType }} {{ blockModifiers }}">
  <div class="grid-element">
    <div class="grid-edge">
      {{# blockTitle }}
        {{> baseline-grid-blok-title }}
      {{/ blockTitle }}
      {{# inside }}
        {{> baseline-grid-blok-inside }}
      {{/ inside }}
    </div>
  </div>
</div>
