<div class="grid-title">
  {{# text }}
    <h2>{{ . }}</h2>
  {{/ text }}
  {{# toggleMainMenuAtom }}
    {{> atoms-toggle-mainmenu }}
  {{/ toggleMainMenuAtom }}
  {{# toggleSearchAtom }}
    {{> atoms-toggle-search }}
  {{/ toggleSearchAtom }}
</div>
