{{# checkboxFieldsets }}
  <fieldset class="rij {{ inputMode }} {{ inputType }} {{ inputStatus }}">
    <div class="antwoorden checkboxen">
      {{> atoms-input-label }}
      {{# modeInput }}
        {{# checkboxes }}
          {{> atoms-input-checkbox }}
        {{/ checkboxes }}
      {{/ modeInput }}
      {{# modeDisplay }}
        <ul>
          {{# checkboxes }}
            <li>{{ checkboxLabel }}</li>
          {{/ checkboxes }}
        </ul>
      {{/ modeDisplay }}
    </div>
  </fieldset>
{{/ checkboxFieldsets }}
