<li class="{{ linkListItemModifier }}">
  <a href="{{ listItemLink }}">
    <span class="linklabel">
      {{ listItemLabel }}
    </span>
    <b class="caret" aria-hidden="true"></b>
  </a>
  {{# subList }}
    <ul>
    {{# subListItems }}
      <li>
        {{# subListTitle }}
          <span class="sublisttitle">
            {{ subListTitle }}
          </span>
        {{/ subListTitle }}
        {{# subListItemLink }}
          <a href="{{ subListItemLink }}">
            <span class="linklabel">
              {{ subListItemLabel }}
            </span>
          </a>
        {{/ subListItemLink }}
      </li>
    {{/ subListItems }}
    </ul>
  {{/ subList }}
</li>
