<div class="grid-inside">
  {{# articleHeroImage }}
    {{> resources-article-hero-image }}
  {{/ articleHeroImage }}
  {{# welcomeText }}
    {{> resources-welcome-text }}
  {{/ welcomeText }}
  {{# articleTitle }}
    {{> atoms-h1 }}
  {{/ articleTitle }}
  {{# articleContent }}
    {{> resources-article-content }}
  {{/ articleContent }}
  {{# articleAside }}
    {{> resources-article-aside }}
  {{/ articleAside }}
</div>
