@function best-contrast-on($color, $dark: $color-black, $light: $color-white) {
  @if $color == null {
    @return null;
  }
  @else {
    $yiq: (red($color) * 299 + green($color) * 587 + blue($color) * 114) / 1000; // sass-lint:disable-line no-color-keywords
    @return if($yiq >= 128, $dark, $light);
  }
}

@mixin colors-on-bg($color) {
  * {
    color: best-contrast-on($color);
  }

  @if best-contrast-on($color) == #fff {
    a:active,
    a:hover {
      color: best-contrast-on($color);
    }
  }
}
