<p class="Calltoaction-{{ callToActionColor }}{{# isDocument }} importLink{{/ isDocument }}">
  <a href="{{ callToActionLink }}">
    {{ callToActionText }}
    {{# isDocument }}
      <span class="micrometa sizespec"> (TXT-)</span>
    {{/ isDocument }}
  </a>
</p>
