<p class="calltoaction-{{ callToActionColor }}">
  <a href="{{ callToActionLink }}"{{# isDocument }} class="importLink"{{/ isDocument }}>
    {{ callToActionText }}
    {{# importlinkSpec }}
      <span class="micrometa sizespec"> {{ importlinkSpec }}</span>
    {{/ importlinkSpec }}
  </a>
</p>
