<div class="rij {{ inputMode }} date {{ inputStatus }}">
  <div class="label"><label for="{{ inputBoxId }}">Welke dag is het vandaag?</label></div>
  {{> atoms-input-datepicker }}
  {{> atoms-datepicker }}
</div>
