<div class="grid-container container_{{ columns }} grid-{{ containerAlias }} {{ containerModifiers }}">
  {{# containerTitle }}
    <h1>{{ containerTitle }}</h1>
  {{/ containerTitle }}
  {{# gridZones }}
    {{> baseline-grid-zone }}
  {{/ gridZones }}
  {{# alert }}
    {{> organisms-alert }}
  {{/ alert }}
  <div class="clear"></div>
</div>
