{{# filters }}
  <div class="formulier-section {{ filter-modifier }}">
    <div class="formshadow">
      <div class="filter-header">
        {{> molecules-filter-button }}
        {{# filter-modifier }}
          {{> atoms-toggle( toggleVariant: "filter", toggleAriaExpanded: false, toggleTitle: "Sluiten" }) }}
        {{/ filter-modifier }}
        {{# eraseFilter }}
          {{> atoms-button }}
        {{/ eraseFilter }}
      </div>
      <form class="formulier">
        {{> molecules-form-input }}
        {{# filter-modifier }}
          {{> molecules-form-single-checkbox }}
          {{> atoms-button }}
        {{/ filter-modifier }}
      </form>
    </div>
  </div>
{{/ filters }}
