<div class="invoer">
  <input type="{{ inputType }}" class="datefield datumveld hasDatepicker" name="{{ inputBoxName }}" id="{{ inputBoxId }}" maxlength="10" size="10" autocomplete="off" value="" pattern="\d\d?-\d\d?-\d{4}" title="dd-mm-jjjj"{{# inputDisabled}} disabled{{/ inputDisabled}}{{# inputReadonly }} readonly{{/ inputReadonly}}>
  <img class="ui-datepicker-trigger" src="{{ imgPath }}svg/calendar-black.svg" alt="{{ iconTitle }}" title="{{ iconTitle }}">
</div>
