<div class="grid-blok grid_{{ columns }} {{ blockType }} {{ blockModifiers }} hasbgcolor bgcolor_{{ color }}">
  <div class="grid-element">
    <div class="grid-edge">
      {{> resources-colors-content }}
    </div>
  </div>
</div>
