<div class="grid-blok grid_{{ columns }} grid-tegel {{ blockType }} {{ blockModifiers }}">
  <div class="grid-element">
    <div class="grid-edge">
      {{> resources-tile-content }}
    </div>
  </div>
</div>
