<div class="grid-blok grid_{{ columns }} {{ blockType }} {{ blockModifiers }}">
  <div class="grid-element">
    <div class="grid-edge">
      {{# showFooterLeft }}
        {{> resources-footer-left }}
      {{/ showFooterLeft }}
      {{# showFooterMiddle }}
        {{> resources-footer-middle }}
      {{/ showFooterMiddle }}
      {{# showFooterRight }}
        {{> resources-footer-right }}
      {{/ showFooterRight }}
    </div>
  </div>
</div>
