{{# formTextareas }}
  <div class="rij {{ inputMode }} {{ inputType }} {{ inputStatus }}">
    {{> atoms-input-label }}
    {{# inputHelpText }}
      {{> atoms-input-help }}
    {{/ inputHelpText }}
    {{> atoms-textarea }}
    {{# inputExplanationTitle }}
      {{> atoms-input-explanation }}
    {{/ inputExplanationTitle }}
  </div>
{{/ formTextareas }}
