//
//  AMSTERDAM specific bootstrap overrides
//  Generic
//

@import '/generic/amsterdam-grid';
@import '/generic/amsterdam';
@import '/generic/ams-colorpalette';
@import '/generic/ams-helperclasses';

body {
  font-family: Avenir, sans-serif;
  line-height: 1.25;
  margin: 0;
  padding: 0;
}

.grid-wrapper {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.ams-header {
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: -2rem;

  &__logo {
    &--short {
      width: 150px;
      height: 100px;
    }
  }
}

table {
  text-align: left;
  border-collapse: collapse;

  tr {
    padding: .5rem;

    &:hover {
      background-color: $ams-top-menu;
      td {
        box-shadow: 0 1px 0 1px $ams-top-menu;
      }
    }
  }

  td, th {
    padding: .5rem;
  }

  thead {
    tr {
      &:hover {
        background: inherit;
      }
    }

    th {
      border-top: 1px solid $ams-zwart;
      border-bottom: 1px solid $ams-zwart;
    }
  }

  td {
    border-bottom: 1px solid $ams-middengrijs;
    box-shadow: 0 1px 0 1px $ams-wit;
  }
}
