<a aria-expanded="{{ toggleAriaExpanded }}" href="#" class="toggle-{{ toggleVariant }} {{ toggleCollapseState }}">
  <b class="caret" aria-hidden="true"></b>
  <span class="toggle-text visuallyhidden">{{ toggleTitle }}</span>
</a>
