{{# pills }}
  {{# pillColor }}
    <span class="pill pill-{{ pillColor }}">{{ pillLabel }}</span>
  {{/ pillColor }}
  {{^ pillColor }}
    <span class="pill">{{ pillLabel }}</span>
  {{/ pillColor }}
{{/ pills }}
