<div class="input-explanation {{ inputExplanationStatus }}">
  <a href="#">{{ inputExplanationTitle }}</a>
  {{# inputExplanationText }}
    <div class="toelichting">
      <p>{{ inputExplanationText }}</p>
    </div>
  {{/ inputExplanationText }}
</div>
