<div class="invoer">
  <input type="checkbox" name="{{ checkboxName }}" id="{{ checkboxId }}" value="true" class="input" checked="" {{# checkboxDisabled}} disabled{{/ checkboxDisabled}}>
  <label for="{{ checkboxId }}">{{ checkboxLabel }}</label>
</div>
