.bigdown {
  list-style: none;

  a {
    @include avenirnextdemi;
    background-image: none !important;
    padding-left: 0 !important;

    &,
    &:visited {
      color: $color-black;
      text-decoration: none;
    }

    &::before {
      background: url("#{$core-svg-path}caret-down-black.svg") no-repeat 2px 5px;
      background-size: 1em;
      content: "";
      display: inline-block;
      height: 1em;
      padding-left: .5em;
      width: 1em;
    }

    &:active,
    &:hover {
      color: $color-red;
      text-decoration: underline;

      &::before {
        background-image: url("#{$core-svg-path}caret-down-red.svg");
      }
    }
  }
}

@mixin bigdown-on-bg($color) {
  .bigdown {
    a {
      @if best-contrast-on($color) == #fff {
        &::before,
        &:active::before,
        &:hover::before,
        &:visited::before {
          background-image: url("#{$core-svg-path}caret-down-white.svg");
          color: best-contrast-on($color);
        }
      }
      @else {
        &::before,
        &:visited::before {
          background-image: url("#{$core-svg-path}caret-down-black.svg");
          color: best-contrast-on($color);
        }

        &:hover::before,
        &:active::before {
          background-image: url("#{$core-svg-path}caret-down-red.svg");
          color: $color-red;
        }
      }
    }
  }
}

@each $name, $color in $colors {
  .grid-zone.bgcolor_#{$name},
  .footer-wrapper .bgcolor_#{$name} {
    @include bigdown-on-bg($color);
  }

  .grid-blok.bgcolor_#{$name} .grid-edge {
    @include bigdown-on-bg($color);
  }
}
