{{# superlinkImg }}
<div class="afbeelding">
  <img src="{{ superlinkImg }}">
</div>
{{/ superlinkImg }}
{{# superlinkText }}
  <div class="holder" title="{{ superlinkText }}">
    {{> atoms-h2 }}
    <div class="{{richContentClass}} tekst">
      <span>
        {{ superlinkText }}
      </span>
    </div>
  </div>
{{/ superlinkText }}
{{^ superlinkText }}
  <div class="holder">
    <a href="{{ headerLink }}">{{ headerText }}</a>
  </div>
{{/ superlinkText }}
