<div class="{{ richContentClass }}">
{{> resources-rich-content-with-headings }}
{{> atoms-blockquote(blockQuoteText: "Zuinigheid met vlijt, bouwt huizen als kastelen.") }}
{{> resources-rich-content-with-paragraph }}
{{> atoms-figure( "altText": "Melkkar in Amsterdam West", "figCaptionText": "Dirk van den Broek op zijn melkkar in Amsterdam West –waarschijnlijk in de buurt van het Columbusplein- 1942.", "example-src": "assets/dirk-melkkar.jpg") }}
{{> atoms-calltoaction(callToActionLink: "#", callToActionColor: "rood", callToActionText: "Bekijk de fotoserie") }}
{{> resources-rich-content-with-paragraph }}
{{> atoms-calltoaction(callToActionLink: "#", callToActionColor: "blauw", callToActionText: "De eerste supermarkt van Amsterdam") }}
{{> resources-rich-content-with-links }}
{{> atoms-toggle-box(toggleBoxTitle: "Dirk van den Broek uitklapper", toggleBoxBodyText: "Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. ") }}
<ul>
  <li>1 pak melk</li>
  <li>2 dozen ejeren</li>
  <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </li>
  <li>1 pak koffie</li>
</ul>
<ol>
  <li>1 pak melk</li>
  <li>2 dozen ejeren</li>
  <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </li>
  <li>1 pak koffie</li>
</ol>
<a href="http://www.google.nl">Test link</a>
</div>
