<button class="action {{ buttonType }} {{ buttonArrow }}"{{# disabled }} disabled{{/ disabled }} {{# reset }} type="reset"{{/ reset }}>
  <span class="value">{{ buttonValue }}</span>
  {{# spinner }}
    <span class="working">
      <div class="progress-indicator progress-{{ progressColor }}"></div>
    </span>
  {{/ spinner }}
</button>
