<div class="antwoord">
  <input type="checkbox" name="{{ checkboxName }}" id="{{ checkboxId }}" class="kenmerkcheckbox"{{# checkboxDisabled}} disabled{{/ checkboxDisabled}}>
  <label for="{{ checkboxId }}">{{ checkboxLabel }}</label>
</div>
