<div class="type-nav-primair">
  {{# toggleMainMenuAtom }}
    {{> atoms-toggle-mainmenu }}
  {{/ toggleMainMenuAtom }}
  {{# toggleSearchAtom }}
    {{> atoms-toggle-search }}
  {{/ toggleSearchAtom }}
  {{> molecules-list-horizontal }}
</div>
