<blockquote>
  {{# blockQuoteText }}
    <p>
      {{ blockQuoteText }}
    </p>
  {{/ blockQuoteText }}
  {{#  richContentWithParagraph }}
    {{> resources-rich-content-with-paragraph }}
  {{/  richContentWithParagraph }}
  {{#  richContentWithHeadings }}
    {{> resources-rich-content-with-headings }}
  {{/  richContentWithHeadings }}
  {{# richContentWithFormatting }}
    {{> resources-rich-content-with-formatting }}
  {{/ richContentWithFormatting }}
  {{# richContentWithLinks }}
    {{> resources-rich-content-with-links }}
  {{/ richContentWithLinks }}
</blockquote>


