<table>
  <caption>{{ tableCaption }}</caption>
  <thead>
    <tr>
      <th>De eerste header cel van de eerste kolom</th>
      <th>De tweede header cel</th>
      <th>De derde header cel</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>De tweede cel van de eerste kolom</td>
      <td>Lorem</td>
      <td>Ipsum</td>
    </tr>
    <tr>
      <td>De derde cel de eerste kolom</td>
      <td>Lorem Ipsum</td>
      <td></td>
    </tr>
    <tr>
      <td>De vierde cel de eerste kolom</td>
      <td>Lorem Ipsum</td>
      <td></td>
    </tr>
    <tr>
      <td>De vijfde cel de eerste kolom</td>
      <td>Lorem Ipsum</td>
      <td></td>
    </tr>
  </tbody>
</table>
