<table>
  <caption>{{ tableCaption }}</caption>
  <tbody>
    <tr>
      <th>Straatnaam</th>
      <td>Bos en Lommerweg</td>
    </tr>
    <tr>
      <th>Wijk</th>
      <td>Bos en Lommer</td>
    </tr>
    <tr>
      <th>Materiaal</th>
      <td>Hardsteen</td>
    </tr>
    <tr>
      <th>Plaatsingsdatum</th>
      <td>1945</td>
    </tr>
  </tbody>
</table>
