<div class="grid-pagina">
  <div class="{{ richContentClass }}">
    <ol>
      {{> atoms-listitem("listItemLabel": "Lijst zonder links") }}
      {{> atoms-listitem("listItemLabel": "Maar met gewone tekst") }}
      {{> atoms-listitem("listItemLabel": "Die soms ook erg lang kan zijn: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vel lorem finibus felis eleifend fermentum. Phasellus a est a leo suscipit varius. Nullam bibendum enim tellus, vel imperdiet diam fringilla in. Duis orci est, pulvinar in eros nec, ornare sagittis felis. Praesent a feugiat elit. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Curabitur rhoncus eget nibh ut ullamcorper.") }}
    </ol>

    <ul>
      {{> atoms-listitem("listItemLabel": "Lijst zonder links") }}
      {{> atoms-listitem("listItemLabel": "Maar met gewone tekst") }}
      {{> atoms-listitem("listItemLabel": "Die soms ook erg lang kan zijn: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vel lorem finibus felis eleifend fermentum. Phasellus a est a leo suscipit varius. Nullam bibendum enim tellus, vel imperdiet diam fringilla in. Duis orci est, pulvinar in eros nec, ornare sagittis felis. Praesent a feugiat elit. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Curabitur rhoncus eget nibh ut ullamcorper.") }}
    </ul>
  </div>
</div>
