{{# gridWrappers }}
  <div class="grid-wrapper wrapper_{{ columns }} {{ wrapperAlias }}-wrapper {{ wrapperModifiers }}">
    {{# gridContainers }}
      {{> baseline-grid-container }}
    {{/ gridContainers }}
  </div>
{{/ gridWrappers }}
