<div class="search-large">
  <form>
    {{> atoms-label }}
    {{> atoms-input-text }}
    {{> atoms-submit }}
    <div class="show-searchtags">
      <a href="#">Bekijk trefwoorden</a>
    </div>
  </form>
</div>
