<h1>{{ headerText }}</h1>
{{# headerSubtitle }}
<div class="subtitle">{{ headerSubtitle }}</div>
{{/ headerSubtitle }}
{{# source }}
<div class="source">
  <div class="brondatum">{{ headerDate }}</div>
  -
  <div class="auteur">{{ headerPoster }}</div>
</div>
{{/ source }}
