<div class="invoer">
  <input name="{{ inputBoxName }}" id="{{ inputBoxId }}" value="" class="input" type="{{ inputType }}"{{# inputDisabled}} disabled{{/ inputDisabled}}{{# inputReadonly }} readonly{{/ inputReadonly}}>
  {{# modeDisplay }}
    {{ modeDisplayValue }}
  {{/ modeDisplay }}
</div>
