{{# formInputs }}
  <div class="rij {{ inputMode }} {{ inputType }} {{ inputStatus }}">
    {{> atoms-input-label }}
    {{# inputHelpText }}
      {{> atoms-input-help }}
    {{/ inputHelpText }}
    {{> atoms-input-box }}
    {{# inputExplanationTitle }}
      {{> atoms-input-explanation }}
    {{/ inputExplanationTitle }}
  </div>
{{/ formInputs }}
