{{# formSelects }}
  <div class="rij {{ inputMode }} {{ inputType }} {{ inputStatus }} {{ inputModifiers }}">
    {{> atoms-input-label }}
    {{# inputHelpText }}
      {{> atoms-input-help }}
    {{/ inputHelpText }}
    {{> atoms-input-select }}
    {{# inputExplanationTitle }}
      {{> atoms-input-explanation }}
    {{/ inputExplanationTitle }}
  </div>
{{/ formSelects }}
