.has-multicol-4 {
  columns: 4;
}

.has-multicol-3 {
  columns: 3;
}

.has-multicol-2 {
  columns: 2;
}

.has-multicol-4,
.has-multicol-3,
.has-multicol-2 {
  column-gap: 20px;

  li {
    break-inside: avoid;
    page-break-inside: avoid;
  }
}

.grid_9 { // sass-lint:disable-line class-name-format
  .has-multicol-4 {
    columns: 3;
  }
}

.grid_6 { // sass-lint:disable-line class-name-format
  .has-multicol-4,
  .has-multicol-3 {
    columns: 2;
  }
}

.grid_3 { // sass-lint:disable-line class-name-format
  .has-multicol-4,
  .has-multicol-3,
  .has-multicol-2 {
    columns: 1;
  }
}

@media screen and (min-width: #{$grid-mq-small} + 1) and (max-width: #{$grid-mq-medium}) {
  .grid_12, // sass-lint:disable-line class-name-format
  .grid_9 { // sass-lint:disable-line class-name-format
    .has-multicol-4,
    .has-multicol-3 {
      columns: 2;
    }
  }
}

@media screen and (max-width: #{$grid-mq-small}) {
  .grid_12, // sass-lint:disable-line class-name-format
  .grid_9, // sass-lint:disable-line class-name-format
  .grid_6 { // sass-lint:disable-line class-name-format
    .has-multicol-4,
    .has-multicol-3,
    .has-multicol-2 {
      columns: 1;
    }
  }
}
