<div class="{{ richContentClass }} inleiding">
  <p>Achter het winkelcentrum op het Sierplein in Amsterdam ligt OBA Slotervaart. Hier vind je een uitgebreid aanbod collectie boeken, cd-roms, kranten en tijdschriften. Ook is er een NL-plein, een koffiehoek en een oefencomputer met leerprogramma’s.</p>
</div>
{{> atoms-toggle-box }}
<div class="{{ richContentClass }} tekst">
  <p>Elke maandag van 14.00 tot 15.00 uur is er een oefenspreekuur Nederlandse taal, rekenen of internet. De bibliotheek is ideaal om te studeren of gebruik te maken van internet. OBA-leden kunnen een half uur per dag gratis gebruik maken van internet. Niet-leden betalen € 1,- per 30 minuten.</p>
  <p>Ga voor meer informatie en een compleet overzicht van de exposities en activiteiten naar de website.</p>
</div>
