<h2 class="blok-titel">Zie ook</h2>
<div class="{{ richContentClass }} tekst">
  <p>Met eventueel een tekst.</p>
</div>
<ul class="links">
  <li class="link"><a href="www.amsterdam.nl">Andere bibliotheken</a>
  </li><li class="link"><a href="www.amsterdam.nl">Camping Vliegenbos</a>
</li></ul>
