<div class="grid-inside">
  <h2>Amsterdam</h2>
  <div class="{{ richContentClass }} tekst">
    <p>Amsterdam is de (titulaire) hoofdstad en naar inwonertal de grootste gemeente van Nederland. <a href="http://visitedhover.nl">De stad</a>, in het Amsterdams ook Mokum genoemd (afkomstig uit het Jiddisch), ligt in de provincie Noord-Holland, aan het IJ, het Noordzeekanaal en de monding van de Amstel.</p>
  </div>
  {{> molecules-list-plain-rich-content }}
  {{> molecules-list-links }}
  <a href="http://www.amsterdam.nl">Ga naar Amsterdam</a>
</div>
