<h2 class="blok-titel">Uw gegevens</h2>
<div class="{{ richContentClass }} tekst">
  <p>De status van uw aanvraag volgen? Zien hoe u geregistreerd staat bij de gemeente en andere overheidsorganisaties? Dat kan via de website MijnOverheid.</p>
</div>
<ul class="links">
  <li class="link">
    <a href="#" class="ga-tracked">Lees verder</a>
  </li>
</ul>
