<div class="grid-inside">
  <div class="afbeelding">
    <a href="{{ featureLink }}">
      <img src="{{ featureImage }}" alt="{{ featureImageAlt }}">
    </a>
  </div>
  <h2 class="blok-titel">
    <a href="{{ featureLink }}">{{ featureTitle }}</a>
  </h2>
  <div class="summary #{$rich-content}">
    <div>
      <p>{{ featureSummary }}</p>
    </div>
  </div>
</div>
