<div class="grid-inside">
  <h2 class="blok-titel">Bel of mail de gemeente</h2>
  <div class="#{$rich-content} tekst">
    <p>Hebt u een vraag en kunt u het antwoord niet vinden op onze website? Bel dan het gemeentelijk informatienummer <strong>14 020</strong>, op werkdagen van 08.00 tot 18.00 uur.</p>
  </div>
  {{> molecules-list-links }}
</div>
