<div class="grid-inside">
  <a href="{{ photoBlockLink }}">
    <div class="iprox-image iprox-content foto">
      <img src="{{ photoBlockImage }}" alt="{{ photoBlockImageAlt }}">
    </div>
  </a>
  <div class="info"></div>
  <h2 class="blok-titel">{{ photoBlockTitle }}</h2>
</div>
