<p>De Ten Katestraat is een straat in de Kinkerbuurt in Amsterdam-West. De straat loopt van noord naar zuid haaks op de Kinkerstraat. De straat begint bij de Jan Hanzenstraat en kruist vervolgens de Wenslauerstraat, Bellamystraat, Hasebroekstraat, Kinkerstraat, Borgerstraat en Jacob van Lennepstraat.</p>
{{> atoms-notification(notificationColor: "rood", notificationText: "Bekijk de fotoserie") }}
