<p>In 1999 werd hij door de IFFHS verkozen tot Europees voetballer van de twintigste eeuw. Bij de IFFHS-verkiezing van Wereldvoetballer van de twintigste eeuw eindigde hij als tweede achter Pelé.</p>
