<h1>Dirk van den Broek</h1>
<p>Dirk van den Broek (Amsterdam, 27 maart 1924) opende in 1942 een melkzaak aan het Mercatorplein te Amsterdam. In 1948 werd deze melkzaak omgebouwd tot de eerste zelfbedieningswinkel.</p>
<h2>Eeste supermarkt</h2>
<p>In 1953 opende hij de eerste supermarkt aan de Bilderdijkstraat/hoek Kinkerstraat te Amsterdam.</p>
<h3>Restaurants</h3>
<p>Ook exploiteerde het bedrijf later een aantal restaurants, onder meer een drietal in Amsterdam met de naam "Dirck Dirckz" en een eenvoudig eethuisje nabij het Osdorpplein met de naam "Dirck III eethuysje".</p>
<h4>Happy</h4>
<p>Het eethuisje, dat later een fastfoodrestaurant werd met de naam "Happy Dick".</p>
