<p>Het gebied werd in 1896 door Amsterdam geannexeerd ten behoeve van woningbouw; de poel werd ter voorbereiding daarvan in 1886 grotendeels en in 1890 geheel gedempt en de molens zijn rond die tijd ook allen gesloopt.</p>
{{> atoms-blockquote(blockQuoteText: "Zijn vader is veehouder, en Dirk groeit op op boerderij Eureka") }}
