<p>Dirk van den Broek wordt in <em>1924</em> geboren in Amsterdam. <strong>Zijn vader is veehouder</strong>, en Dirk groeit op op boerderij Eureka, ongeveer ter hoogte van het huidige Ramada Hotel in het Rembrandtpark. Dit gedeelte van Amsterdam bestaat in die tijd grotendeels uit onbebouwd <strong>braakliggend land</strong> met wat boerderijen. Dirks ouders zijn welgestelde, zuinige mensen, met een scherpe koopmansgeest.</p>
