<p>De Bilderdijkgracht is een gracht in Amsterdam-West, vernoemd naar dichter en geschiedschrijver Willem Bilderdijk.</p>
{{> atoms-figure(altText: "Alternative tekst voor een afbeelding", figCaptionText: "Dit is een voorbeeld van een afbeeling met een caption.", example-src: "assets/placeholder-foto-16x9.png") }}
