<p>De Dappermarkt is een markt in de Dapperstraat in Amsterdam-Oost en één van de drukst bezochte markten van Amsterdam. Het Dappermarktgebied wordt begrensd door de Wijttenbachstraat en de Mauritskade en wordt doorkruist door de Eerste van Swindenstraat.</p>
{{> atoms-table(tableCaption: "Dit is het bijschrift") }}
