<p>Het meer en poldergebied lag ten noordoosten van de oude stadsgrens van Amsterdam en <a href="/wiki/Nieuwer-Amstel" title="Nieuwer-Amstel">Nieuwer-Amstel</a> en ten zuidwesten van de <a href="/wiki/Buitensingelgracht" class="mw-redirect" title="Buitensingelgracht">Buitensingelgracht</a> (zie groene gebied op de kaart). Alhoewel het gebied bestuurlijk sinds 1795 onder Nieuwer-Amstel viel was de <a href="/wiki/Ambachtsheerlijkheid_van_Amstelveen_en_Nieuwer-Amstel" title="Ambachtsheerlijkheid van Amstelveen en Nieuwer-Amstel">ambachtsheerlijkheid van Amstelveen en Nieuwer-Amstel</a> al in 1529 verkocht aan Amsterdam, dat er dus de baas was evenals over de vaarweg ernaartoe, de <a href="/wiki/Kostverlorenvaart" title="Kostverlorenvaart">Kostverlorenvaart</a>. Tot de zeventiende eeuw bestond het gebied voornamelijk uit weidegrond.</p>
