<p>De Vrouwe Maria (ook wel de Seskant en de Vrouwe Anna Maria) was de naam van een stellingmolen aan de Kwakerspoel in Amsterdam. De molen bevond zich ter hoogte van de tegenwoordige kruising van de Kinkerstraat met de Bilderdijkkade. De molen, een zeskante bovenkruier, werd gebruikt voor de houtzagerij. In het midden van de 19e eeuw werd het houtzagen al gedaan met behulp van een stoommachine, de molen is voor 1881 afgebroken voordat de poel gedempt werd ten bate van woningbouw.</p>
{{> atoms-calltoaction(callToActionLink: "#", callToActionColor: "blauw", callToActionText: "De eerste supermarkt van Amsterdam") }}
