<div class="grid-inside">
  <div class="tegel_image">
    <div class="afbeelding">
      <img src="{{ tileImage }}" alt="{{ tileImageAlt }}" />
    </div>
  </div>
  <div class="tegel_text">
    <h2>
      <a href="{{ tileLink }}">{{{ tileTitle }}}</a>
    </h2>
    <div class="#{$rich-content} tekst">
      {{{ tileSummary }}}
    </div>
  </div>
</div>
