<nav>
  <ul class="links">
    {{# listItems }}
      <li class="{{ linkListItemModifier }}">
        <a href="{{ listItemLink }}">
          <span class="linklabel">
            {{ listItemLabel }}
          </span>
          <b class="caret" aria-hidden="true"></b>
        </a>
        {{# subList }}
          <ul>
          {{# subListItems }}
            <li class="{{ linkSubListItemModifier }}">
              {{# subListTitle }}
                <span class="sublisttitle">
                  {{ subListTitle }}
                </span>
              {{/ subListTitle }}
              {{# subListItemLink }}
                <a href="{{ subListItemLink }}">
                  <span class="linklabel">
                    {{ subListItemLabel }}
                  </span>
                </a>
                {{# subSubList }}
                  <ul>
                    {{# subSubListItems }}
                      <li class="{{ linkSubSubListItemModifier }}">
                        {{# subSubListTitle }}
                          <span class="sublisttitle">
                            {{ subSubListTitle }}
                          </span>
                        {{/ subSubListTitle }}
                        {{# subSubListItemLink }}
                          <a href="{{ subSubListItemLink }}">
                            <span class="linklabel">
                              {{ subSubListItemLabel }}
                            </span>
                          </a>
                        {{/ subSubListItemLink }}
                      </li>
                    {{/ subSubListItems }}
                  </ul>
                {{/ subSubList }}
              {{/ subListItemLink }}
            </li>
          {{/ subListItems }}
          </ul>
        {{/ subList }}
      </li>
    {{/ listItems }}
  </ul>
</nav>
