<span class="logoset">
  <img src="{{ imgPath }}{{ svg-src }}" class="screen-logo" alt="{{ clientName }}" />
  <img src="{{ imgPath }}{{ png-src }}" class="alt-logo" alt="{{ clientName }}" />
  <img src="{{ imgPath }}{{ print-src }}" class="print-logo" alt="{{ clientName }}" />
</span>
