<span class="logotexts">
  <span class="logotext {{ logoColorLine-1 }}">{{ logoTextLine-1 }}</span>
  {{# logoTextLine-2 }}
  <span class="logotext {{ logoColorLine-2 }}">{{ logoTextLine-2 }}</span>
  {{/ logoTextLine-2 }}
  {{# logoTextLine-3 }}
  <span class="logotext {{ logoColorLine-3 }}">{{ logoTextLine-3 }}</span>
  {{/ logoTextLine-3 }}
</span>
