// breakpoints waarmee het grid rekent
$grid-bp-xsmall: 0;
$grid-bp-small: 576px;
$grid-bp-medium: 760px;
$grid-bp-large: 992px;
$grid-bp-xlarge: 1200px;


// breakpoints waarmee de css werkt
$grid-mq-small: 576px;
$grid-mq-medium: 760px;
$grid-mq-large: 960px;
$grid-mq-xlarge: 1023px;

$hero-img-height: 415px;