<div class="navigate_page">
  <div class="leftnavigate">
    <div class="navigate_content">
      <a class="button_previous" href="{{ button-previous.url }}">{{ button-previous.label }}</a>
    </div>
  </div>
  <div class="rightnavigate">
    <div class="navigate_content">
      <a class="button_next" href="{{ button-next.url }}">{{ button-next.label }}</a>
    </div>
  </div>
</div>
