//
//  AMSTERDAM specific bootstrap overrides
//  Generic
//

@import "../node_modules/gemeente-amsterdam-patterns/source/css/init.css";
@import "../node_modules/gemeente-amsterdam-patterns/source/css/baseline-grid.css";
@import "../node_modules/gemeente-amsterdam-patterns/source/css/gemeente-amsterdam-components.css";

@import '../variables/ams-colorpalette';

table {
  text-align: left;
  border-collapse: collapse;

  tr {
    padding: .5rem;

    &:hover {
      background-color: $ams-top-menu;
      td {
        box-shadow: 0 1px 0 1px $ams-top-menu;
      }
    }
  }

  td, th {
    padding: .5rem;
  }

  thead {
    tr {
      &:hover {
        background: inherit;
      }
    }

    th {
      border-top: 1px solid $ams-zwart;
      border-bottom: 1px solid $ams-zwart;
    }
  }

  td {
    border-bottom: 1px solid $ams-middengrijs;
    box-shadow: 0 1px 0 1px $ams-wit;
  }
}
