.alert-wrapper {
  padding-bottom: 10px;
  padding-top: 30px;

  .grid-container {
    min-height: $rowheight;

    @media screen and (min-width: #{$grid-mq-medium} + 1) {
      width: 940px;
    }

    a.sluitkruis {
      float: right;
    }

    .melding {
      @include avenirnext;
      float: left;
      font-size: rem(16);
      line-height: 1.5em;
      margin: 10px 0 10px 10px;
      width: calc(100% - 64px);

      p {
        margin-bottom: 0;
      }
    }
  }

  @each $name, $color in $colors {
    &.bgcolor_#{$name} .grid-container {
      @extend %bgcolor-#{$name};
      @include colors-on-bg($color);
      @if best-contrast-on($color) == #fff {
        .sluitkruis {
          background-position: -1000px -150px;
        }
      }
    }
  }
}
