<div class="switch">
  <span>{{ labelLeft }}</span>
  <input type="checkbox" id="{{ switchId }}" name="set-name" class="switch-input visuallyhidden">
  <label for="{{ switchId }}" class="switch-label"></label>
  <span>{{ labelRight }}</span>
</div>
